/* get header font */
@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Open+Sans:400,400i,700&display=fallback");
@import url("//fonts.googleapis.com/css?family=Merriweather&display=fallback");
  /* theme colors */
:root {
  --md-primary-fg-color:               #012169;
  --md-primary-fg-color--light:        #00539B;
  --md-primary-fg-color--dark:         #262626;

  --md-accent-fg-color:                #00539B;
  --md-accent-fg-color--transparent:   #00539B0a;
}

/* title style */
.md-header__title {
  font-family: "EB Garamond", Roboto, Helvetica, Arial, sans-serif;
  font-size:   1.2rem;
}
.md-header__title .md-ellipsis:after {
    /* prevent text clipping */
    content: '';
    padding: 1px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", Roboto, Helvetica, Arial, sans-serif;
}

/* don't cut words in code */
.md-typeset code { word-break: keep-all; }

/* additional styles */
.chk_yes  { color: darkgreen; }
.chk_no   { color: darkred;   }
.fl_left  { float: left;      }
.fl_right { float: right;     }

.sw_mpi       { color: darkblue;  font-weight: bold; }
.sw_mpi:after { content: "mpi " }
.sw_gpu       { color: darkgreen; font-weight: bold; }
.sw_gpu:after { content: "gpu " }
.sw_lic       { color: darkred;   font-weight: bold; }
.sw_lic:after { content: "lic " }
.sw_def       { color: gray;      font-weight: bold; }
.sw_def:after { content: "def " }

.number {
    font-size: 1.2rem;
    color: var(--md-primary-fg-color);
}
.number_desc {
    font-size: 0.8em;
    margin-top: -1em !important;
    color: var(--md-default-fg-color--light);
}


/* pulsate */
@keyframes pulsate {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.pulsate {
  color: #dd2e44;
  animation: pulsate 1000ms infinite;
}

/* rotate */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 2s infinite linear;
}
